/*RESET CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
.navbar li a {
	display: block;
	color: #bf0000;
	text-align: center;
	padding: 14px 14px 14px 14px;
	text-decoration: none;
	font: georgia, sans-serif;
	font-size: 24px;
}
/* Change the link color to #111 (black) on hover */

li a:hover {
	background-color: #111;
}
p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 2px 5px #333;
	max-width: 60%;
	padding: 2px 2px 2px 2px;
}
ul {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 2px 5px #333;
	max-width: 60%;
	padding: 2px 2px 2px 2px;
}
h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 42px;
	font-weight: 800;
}
h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	font-weight: 600;
}
h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
	font-size: 24px;
	font-weight: 500;
}
.header_image {
	margin: auto;
	width: 100px;
}
body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background: #111;
	margin: 0;
	padding: 0;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #333;
	text-align: center;
	border: 10px 0px 10px 0px;
}
footer li a {
	display: inline;
	color: #bf0000;
	text-align: center;
	padding: 0px 10px 10px 10px;
	text-decoration: none;
	font: georgia, sans-serif;
	max-width: 60%;
}
li a {
	display: block;
	color: #bf0000;
	text-align: center;
	padding: 14px 14px 14px 14px;
	text-decoration: none;
	font: georgia, sans-serif;
	font-size: 14px;
}